{
    "plugins": [
        ["prismjs", {
            "languages": ["javascript", "css", "markup"],
            "plugins": ["line-numbers", "file-highlight"],
            "theme": "tomorrow",
            "css": true
        }]
    ]
}